.body
{
  background: #ddd;
  width:100%

}
.flex-parent
{
  display:flex;

flex-direction:row;
justify-content:flex-start;
}
.flex-parent
{
  background:#ddd;
  padding:2%;
  margin:2%;
  border:1px solid #c45e45;
  height:80%;
}

.profile-child

{
  background: #fff;
padding:2%;
margin: 1%;
border:1px solid #c45e45;
width:50%;
height:50%;
}
a{
  text-decoration:none;
}

.content-child
{
  background:#fff;
  width:50%;
  height:50%;
  margin:1%;
  padding:2%;
}
@media only screen and (min-width:320px)and (max-width:480px)
{
  .flex-parent
  {
    display:flex;

  flex-direction:row;
  justify-content:flex-start;
  flex-wrap:wrap;
  }
  .profile-child

  {
    background: #fff;
  padding:2%;
  margin: 1%;
  border:1px solid #c45e45;
  width:30%;
  height:60%;
  }


  .content-child
  {
    background:#fff;
    width:40%;
    height:60%;
    margin:1%;
    padding:2%;
  }
  @media only screen and (min-width:481)and (max-width:768px)
  {
    .profile-child

    {
      background: #fff;
    padding:2%;
    margin: 1%;
    border:1px solid #c45e45;
    width:70%;
    height:30%;
    }


    .content-child
    {
      background:#fff;
      width:80%;
      height:90%;
      margin:1%;
      padding:2%;
    }
    }
  }
